<%- include('template/header.ejs',{Tittle:"HomePage"}) %>
  <div class="hero">
    <div class="heading">
      <h1>About Us</h1>
    </div>
    <div class="about-container">
      <div class="about-content">
        <h2>Welcome To Our Website </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ex nisi dolorem aspernatur? Alias
          praesentium doloribus magnam molestiae illo fuga quisquam, repudiandae rerum animi explicabo provident
          ipsam fugit tempore deleniti?
          Quisquam rem saepe neque excepturi illum molestiae, assumenda iste possimus provident fugit nihil
          laudantium sunt. Explicabo provident veritatis cumque ut quo! Non, fugiat architecto eveniet animi unde
          quaerat nulla molestias.
          Laborum autem ipsam tempora deleniti quis quod repellendus officia voluptatum, excepturi, dolor quo
          corrupti rerum impedit dignissimos quasi id! Debitis provident unde, libero sed quisquam nesciunt maxime
          placeat iste? Nihil?</p>
      </div>
      <div class="about-img">
        <img src="/img/staff-store.jpg" alt="">
      </div>
    </div>
  </div>
  <%- include('./template/footer.ejs')%>