<%- include('template/header.ejs',{Tittle:"HomePage"}) %>
  <section class="home">
    <div class="galery">
      <div class="content">
        <img class="product-Img" src="/img/Nike-shoe.png" alt="Nike">
        <h3 class="Product-name">Product name</h3>
        <p class="Product-description">Lorem ipsum dolor sit amet.</p>
        <h6 class="Price">$100</h6>
        <ul class="Rating">
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star checked"></i></li>
          <li><i class="fa fa-star "></i></li>
        </ul>
        <button class="buy-btn buy-1">Buy Now</button>
      </div>
    </div>
  </section>
  <%- include('template/footer.ejs') %>