<%- include('../template/header.ejs',{Tittle:"My-Orders"}) %>
  <div class="main">
    <!-- ==========cards=========== -->
    <div class="details">
      <div class="recentOrders">
        <div class="cardHeader">
          <h2>Recent Orders</h2>
          <a href="#" class="btn">View All</a>
        </div>
        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Pice</td>
              <td>Quantity</td>
              <td>Total</td>
              <td>Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1000</td>
              <td>2</td>
              <td>$2000</td>
              <td><span class="status delivered">Delivered</span></td>
            </tr>
            <tr>
              <td>Dell Laptop</td>
              <td>$1100</td>
              <td>1</td>
              <td>$1100</td>
              <td><span class="status pending">Pending</span></td>
            </tr>
            <tr>
              <td>Apple Watch</td>
              <td>$1000</td>
              <td>3</td>
              <td>$3000</td>
              <td><span class="status return">Return</span></td>
            </tr>
            <tr>
              <td>Addidas shoes</td>
              <td>$620</td>
              <td>4</td>
              <td>$2480</td>
              <td><span class="status inProgress">In Progress</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('../template/footer.ejs')%>