<%- include('../template/header.ejs',{Tittle:"Porfile Page"}) %>z
  <div class="porfile-container">
    <div class="porfile-card">
      <div class="porfile-header">
        <div class="main-porfile">
          <div class="porfile-image">
          </div>
          <div class="porfile-names">
            <h1 class="useraname">Hola</h1>
            <small class="page-tittle">Hola2</small>
          </div>
        </div>
      </div>
    </div>
  </div>