<nav class="sidebar close">
  <header>
    <div class="image-text">
      <span class="image"><img src="/img/StoreIcon1.png"></span>
      <div class="text header-text">
        <span class="name">Store Online</span>
        <span class="profession">Model of web Store</span>
      </div>
    </div>
    <i class="bx bx-chevron-right toggle"></i>
  </header>
  <div class="menu-bar">
    <div class="menu">
      <li class="search-box"><i class="bx bx-search icon"></i><input type="search" placeholder="search...">
      </li>
      <ul class="menu-links">
        <li class="nav-link"><a href=""><i class="bx bxs-store-alt icon"></i><span
              class="text nav-text">Store</span></a>
        </li>
        <li class="nav-link"><a href=""><i class="bx bxs-cart icon"></i><span class="text nav-text">Cart</span></a>
        </li>
        <li class="nav-link"><a href=""><i class="bx bxs-user-circle icon"></i><span
              class="text nav-text">Porfile</span></a>
        </li>
        <li class="nav-link"><a href=""><i class="bx bx-info-circle icon"></i><span class="text nav-text">About the
              store</span></a>
        </li>
      </ul>
    </div>
    <div class="bottom-content">
      <li class="">
        <a href="">
          <i class="bx bx-log-out-circle icon"></i>
          <span class="text nav-text">
            Log out
          </span>
        </a>
      </li>
      <li class="mode">
        <div class="moon-sun">
          <i class="bx bx-moon icon moon"></i>
          <i class="bx bx-sun icon sun"></i>
        </div>
        <span class="mode-text text">Dark Mode</span>
        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
</nav>

<Script src="/js/navbar.js"></Script>